#container {
  background-color:#eae1e1;
  background-image: linear-gradient(#ffffff .1em, transparent .1em), 
  linear-gradient(90deg, #ffffff .1em, transparent .1em);
  background-size: 4em 4em;
  height: 100vh;
}


#card{
  width: 100px;
  height: 100px;
  background-color: #2e21e2;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
}